*{
    margin: 0 auto;
}

main{
    align-content: center;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

main article {
    background-color: blueviolet;
    color:azure;
    height: 100px;
    line-height: 100px; 
    margin: 2%;
    text-align: center; 
    flex-grow: 1;
}

.caja2{
    flex-grow: 2;
}

.caja3{
    flex-grow: 3;
}